<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="firefox" />
  <package id="fiddler" />
  <package id="sysinternals" />
  <package id="7zip" />
  <package id="windirstat" />
  <package id="ccleaner" />
  <package id="lockhunter" />
  <package id="paint.net" />
  <package id="keepass" />
  <package id="keepass-keepasshttp" />
  <package id="chromelpass-chrome" />
  <package id="keepass-plugin-keeagent" />
  <package id="nodejs" />
  <package id="git" />
  <package id="git-lfs" />
  <package id="chocolateygui" />
  <package id="docker-desktop" />
  <package id="docker-cli" />
  <package id="winmerge" />
  <package id="slack" />
  <package id="postman" />
  <package id="terraform" />
  <package id="microsoftazurestorageexplorer" />
  <package id="openjdk" />
  <package id="androidstudio" />
  <package id="dbeaver" />
  <package id="pdfxchangeeditor" />
  <package id="azure-cli" />

  <!-- not installing python3 via Chocolatey, because it seems to install to C:\python3 <== ugly :/ -->
  <!-- not installing flutter via Chocolatey, because it seems to install to C:\tools and after changing the tools dir it still needs admin privileges to install ==> ugly
     And I want to be able to upgrade without being admin. -->
  <!-- not installing visualstudio2022community via Chocolatey, because it doesn't seem to set it up right. I asked for vscommunity, and got VS enteprise :/ -->
  <!-- not installing vscode.portable, because it wants to do something ProgramData which is a protected folder. :/ -->
</packages>
